.Btn {
  background-color: var(--btn-bg);
  border: none;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  border-radius: 3rem;
  color: white;
  cursor: pointer;

  @media only screen and (max-width: 43.75rem) {
    padding: 2rem 6rem;
    font-size: 2.8rem;
    border-radius: 6rem;
  }

  &:hover {
    background-color: hsl(180, 66%, 69%);
  }

  &:focus {
    outline: none;
  }
}
